body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1.title {
  padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 500;
}

h1.title {
  font-size: 38px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h4.author {
  padding-bottom: 10px;
}

h4.author>em {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

h4.date {
  padding-bottom: 10px;
}

h4.date>em {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

a {
  color: #00857c;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #005c55;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

pre, code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: #F7F7F7;
}

/* selection */

::-moz-selection {
  background: #6eceb2;
}

::selection {
  background: #6eceb2;
}

/* float toc */

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #00857C;
  border-color: #00857C;
}

/* figure */

div.figure {
  text-align: center;
}

p.caption {
  text-align: center;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  color: #00857C;
}